/* Import all components */
@import 'semantic';
@import 'pxt';
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';
@import 'site/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

/*******************************
    Add your custom CSS here
*******************************/

.ui.item.logo .name {
    font-size: 15px;
    font-family: @headerFont;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 1rem;
}

.blocklyToolboxDiv, .monacoToolboxDiv {
    font-family: @fontName;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    padding: 1px;
}

.right.menu {
    padding-right: 150px;
}

.blocklyHtmlInput {
    color: black;
}

.blocklyTreeRow {
    text-transform: lowercase;
    padding: 0px;
}

rect:hover {
    opacity: 0.5;
    border-color: "yellow";
    border-width: 1px;
}

.blocklyScrollbarHandle {
    fill: #000000;
}

.ui.text {
    color: black;
}

.ui.text.landscape {
    color: white;
}

.ui.text.widedesktop {
    color: white;
}

.sign.out.icon.icon-and-text, .disk.outline.icon.icon-and-text, .trash.icon.icon-and-text, .options.icon.icon-and-text {
    color: black;
}

.ui.item, .menu.transition.visible {
    color: black;
}


/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
}

/* Small Monitor */
@media only screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) {
}
